</div>
<!-- /#wrapper -->

<!-- jQuery -->
     <script src="/js/jquery.js"></script>
     <script src="/js/ajax.js"></script>
     <script src="/js/scripts.js"></script>


<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

</body>

</html>